html {
	position: 0px;
}

body {
	margin: 0px;
	padding: 0px;
}

h1, h2, h3 {
	text-align: center;
}

h1 {
	margin: 0px 0px 5px 0px;
	padding-top: 50px;
}

h3 {
	margin: 0px 0px 5px 0px;
	padding-top: 30px;
}

#hero {
	margin: 0px;
	background-color: #00FF78;
	height: 460px;
}

#bio {
	height: 250px;
	width: 800px;
	margin: 0 auto;
}

#headshot {
	border-radius: 125px;
	float: left;
	margin-right: 40px;
}

#projects {
	background-color: #B27A12;
	height: 400px;
}

#background {
	background-color: #FFA600;	
}